:root{
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  display: block;
  background: transparent;
  color: inherit;
}

#root{
  max-width: none;
  margin: 0;
  padding: 0;
}

a{ color: inherit; text-decoration: none; }
a:hover{ text-decoration: underline; }

button{ font-family: inherit; }
